@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Git Push - Web App Demo</h1>
    <p1> It's now pushed integrated to GitHub</p1>
</div>
